@import '~avon-mfe-ui-kit/scss/variables';

:host {
  display: block;

  .category_navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    border-top: solid;
    border-image-slice: 1;
    border-top-width: 3px;
    border-image-source: linear-gradient(to right, #7f28c4 -6%, #e2197c 62%, #e5231b 100%);

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;

      li {
        cursor: pointer;
        font-size: 15px;
        font-weight: 100;
        color: $text-secondary;
        position: relative;
        flex: 1;
        padding: 12px;
        text-transform: uppercase;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: transparent;
        text-align: center;
        list-style: none;
        font-family: var(--font-family, $font-family);
        transition: 0.3s ease;

        &:hover {
          border-bottom-color: $c-primary;
          text-decoration: none;
        }
      }
    }
  }

  .mega-menu {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 9;
    top: 44px;
    left: 0;
    box-shadow: 0px 11px 20px -11px grey;
    width: 100%;
    grid-template-columns: 20% 80%;
    grid-template-columns: min-content;
    .subCat {
      padding: 10px 30px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      .heading {
        color: #000;
        font-weight: 400;
        padding-bottom: 10px;
      }
      li {
        flex-basis: calc(23% - 12px);
        transition: 0.5s ease-in;
        flex: none;
        padding: 1px 5px;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        a {
          font-size: 13px;
          color: var(--c-color-two);
        }
        &:hover {
          border-bottom-color: transparent;
          a {
            color: var(--c-primary);
          }
        }
      }
      &::after {
        content: "";
        flex-grow: 1000000000;
      }
    }
  }
}
