@import '~avon-mfe-ui-kit/scss/variables';
@import '~avon-mfe-ui-kit/scss/mixins';

:host {
  display: block;
  width: 100%;
  max-width: 1320px;

  .container {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: $c-light;
  }

  .smartphone-only {
    @include for-desktop {
      display: none !important;
    }
  }
  .desktop-only {
    @include for-mobile {
      display: none !important;
    }
  }
}
