:host {
  --c-primary: #7f28c4;
  --c-light: #f1f2f3;
  --font-size--sm: 0.875rem;
  --font-weight--medium: 500;
  --c-avon-secondary: red;
  --search-bar-button-right: 10px;
  --font-family: "Montserrat", sans-serif;
  --c-background-one: #fff;
  --c-background-two: rgb(241, 241, 241);
  --c-color-one: rgb(49, 49, 49);
  --c-color-two: #000;
  --c-color-three: #fff;
  --image-width: 100%;
  --image-height: 664px;
  --text-primary: #546264;
  --text-secondary: #999;
  --font-family--secondary: "Montserrat", sans-serif;
  --font-family--tertiary: "Montserrat-Bold";
  --c-white: #fff;
  --c-text: #1d1f22;
  --spacer-sm: 1.625rem;
  --spacer-xs: 1.4rem;

  .container {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    background-color: $c-light;
  }

  .topbar {
    position: relative;
    z-index: 2;
    max-width: 77.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .account {
      width: 1em;
      height: 1em;
      color: $c-primary;
      margin-right: 5px
    }

    .account-info {
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 500
    }
  }

  .button {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--button-padding, $spacer-sm);
    color: var(--button-color, $c-white);
    background: var(--button-background, $c-primary);
    transition: background .8s;
    background-position: 50%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    white-space: nowrap;
    border-width: 0;

    &-text {
      --button-padding: 0;
      --button-background: transparent;
      --button-color: $c-text;
      display: inline;
    }

    &-topbar {
      padding: 0 10px;
      font-size: .7em;
      text-decoration: none;
      display: inline;
    }
  }

  .wishlistHeader {
    display: flex;
    position: absolute;
    font-size: 11px;
    font-weight: 100;
    color: $text-secondary;
    font-family: $font-family;
    right: 0;
    text-transform: uppercase;
    z-index: 1
  }

  .searchBar {
    display: block;
    position: relative;
    width: 20rem;
    background: #fff;
    border-radius: 1.5rem;
    padding: 0 1rem;
    margin-top: .5rem;
    margin-right: 2.2rem;
    border: 1px solid #ccc7c7;
    height: 2rem;

    &__input {
      outline: none;
      font-size: .9rem;
      flex-grow: 1;
      background: transparent;
      text-align: left;
      width: 100%;
      height: 100%;
      border: none
    }

    &__button {
      top: .4em;
      display: inline;
      position: absolute;
      bottom: $spacer-xs;
      right: .4em
    }
  }

  .circle1 {
    fill: #fff;
    strokeWidth: 1px;
    strokeLinecap: 'butt';
    strokeLinejoin: 'miter';
    strokeOpacity: 1
  }

  .header {
    display: flex;
    box-shadow: 1px 12px 15px -16px grey;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__row {
      height: 4rem;
      display: flex;
      justify-content: center;
      position: relative
    }

    &__logo {
      display: flex;
      align-items: center
    }

    &__logoImage {
      height: 2.125rem
    }

    &-actions {
      display: flex;
      flex: 100% 1;
      align-items: center;
      justify-content: flex-end
    }
  }

  .miniCart {
    font-size: 13px;
    font-weight: 100;
    color: $c-primary;
    font-family: $font-family;

    .svg_bag {
      width: 31px;
      margin-right: 10px;
      color: $c-primary;

      .whiteFill {
        fill: #fff
      }
    }
  }

  .top_navigation_desk {
    font-family: $font-family;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

    a {
      padding: 10px 20px;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-secondary;
      font-weight: 100;
      border-bottom: 1px solid #fff;

      &:nth-child(3) {
        color: $c-primary;
        font-weight: bold
      }

      &:hover {
        color: $c-primary;
        border-bottom: 1px solid $c-primary
      }
    }
  }

  .category_navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    border-top: solid;
    border-image-slice: 1;
    border-top-width: 3px;
    border-image-source: linear-gradient(to right, #7f28c4 -6%, #e2197c 62%, #e5231b 100%)
  }
}
